

/* ==========================================================================
   Header
   ========================================================================== */


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-title {
    font-size: 20px;
}
.modal-ul{
  padding-top: 2.5%;

  .modal-item{
    padding-left: 3%;
    padding-right: 5%;
    position: relative;
    border-bottom: 1px solid rgb(227,226,226);
    cursor: default;

    img{
      padding: 10px;
      width: 75px;
      height: 75px;
    }

    .title{
      position: absolute;
      left: 95px;
      top: 15px;
      font-size: 12px;
      font-weight: bold;
    }

    .subtitle{
      position: absolute;
      left: 95px;
      top: 32px;
      font-size: 9px;
    }

    .price{
      position: absolute;
      left: 95px;
      top: 48px;
      font-size: 13px;
      color: grey;
    }

    .del{
      position: absolute;
      right: 17px;
      top: 20px;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .sub-total{
    position: relative;
    padding: 30px 0px 20px 20px;
    font-size: 12px;
    font-weight: bold;
    color:#cacaca;
    cursor: default;

    .number{
      position: absolute;
      right:20px;
      color:rgb(68, 74, 89);
    }

  }

  hr{
    width:90%;
    border-top: 0.5px dotted rgb(227,226,226);
    margin-bottom: 20px;
  }
}
/* ==========================================================================
   Bag
   ========================================================================== */

.header-bag {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.header-bag__item {
    height: 25px;
    display: flex;
    align-items: flex-end;
}

.header-bag__item .icon {
    cursor: pointer;
    height: auto;
    fill: #444A59;
}

.header-bag__price {
    margin-right: 5px;
    font-size: 12px;
    line-height: 12px;
}

.header-bag__count {
    margin-left: 10px;
}

.header-bag__count .icon {
    width: 17px;
}

.header-bag__wishlist-count {
    margin-left: 10px;
}

.bag__item-counter {
    width: 13px;
    height: 13px;
    margin-left: -1px;

    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;

    font-family: 'Lato-Bold', sans-serif;
    font-size: 8px;
    text-align: center;

    border-radius: 50%;
    color: #ffffff;
    background-color: #358ED7;
}
